<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SimpleStore.WebApp.styles.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
    <link rel="stylesheet" href="css/input.css" />
    <link rel="stylesheet" href="css/output.css" />
</head>

<body class="flex min-h-screen flex-col bg-neutral-950">
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>
