@page "/"

<PageTitle>Home</PageTitle>

<div class="grid grid-cols-2 gap-2 sm:grid-cols-3 md:grid-cols-4">
    @foreach (var pic in picsList)
    {
        <ItemCard Title="@pic.Substring(Math.Max(pic.Length - 15, 0))" Source="@pic" />
    }
</div>

@code {
    private List<string> picsList = new();

    protected override Task OnInitializedAsync()
    {
        var picUrl = @"https://media.ed.edmunds-media.com/bugatti/chiron/2024/fe/2024_bugatti_chiron_f34_fe_110424_1600.jpg";

        for (int i = 0; i < 20; i++)
        {
            picsList.Add(picUrl);
        }

        return base.OnInitializedAsync();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return base.OnAfterRenderAsync(firstRender);
    }
}